<template name="topbar">
<nav class="navbar navbar-inverse navbar-fixed-top" id="topbar" style="visibility:visible;">
<div class="container-fluid">
{{> menubutton}}
{{> placeholdrightbutton}}
{{> details}}
</div>
</nav>
</template>
<template name="details">
<div class="text-center container">
<h4 class="white">Test Object</h4>
<h5 class="white">43m away</h5>
</div>
</template>
<template name="bottombar">
<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottombar" style="visibility:visible;bottom:0px;">
<div class="container-fluid">
{{> viewbutton}}
{{> waypointbutton}}
</div>
</nav>
</template>
<template name="viewport">
<div id="wrapper">
<svg id="mainview" width="{{screenwidth}}" height="{{screenheight}}">
<g
     transform="translate({{youx}},{{youy}})"
     id="layer1">
    <path
       id="youtriangle"
       d="m 0,1039.4426 13,12.9642 13,-12.9642 z"
       style="fill:{{youcolor}};fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;" />
  </g>
  <circle id="youaccuracy" cx="{{youxu}}" cy="{{youyu}}" r="{{youaccuracy}}" stroke="{{youcolor}}" stroke-width="2" fill="{{youcolor}}" fill-opacity="0.25" />
{{#each players}}
    {{> dot}}
{{/each}}
</svg>  
</div>
</template>
<template name="menu">
<div id="menu" style="left:-100%;">
<button class="menubutton">Rate this app</button>
</div>
</template>
<template name="dot">

</template>