<template name="topbar">
<nav class="navbar navbar-inverse navbar-fixed-top" id="topbar" style="visibility:visible;">
<div class="container-fluid">
{{> menubutton}}
{{> placeholdrightbutton}}
{{> details}}
</div>
</nav>
</template>
<template name="details">
<div class="text-center container">
<h4 class="white">Test Object</h4>
<h5 class="white">43m away</h5>
</div>
</template>
<template name="bottombar">
<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottombar" style="visibility:visible;">
<div class="container-fluid">
{{> viewbutton}}
{{> waypointbutton}}
</div>
</nav>
</template>
<template name="viewport">
<svg id="mainview" width="{{screenwidth}}" height="{{screenheight}}">
{{#each players}}
    {{> dot}}
{{/each}}
</svg>  
</template>
<template name="menu">
<div id="menu" style="left:-100%;">
<button class="menubutton">Rate this app</button>
</div>
</template>
<template name="dot">
</template>