<template name="topbar">
<nav class="navbar navbar-inverse navbar-fixed-top" id="topbar" style="visibility:visible;">
<div class="container-fluid">
{{> menubutton}}
{{> placeholdrightbutton}}
{{> details}}
</div>
</nav>
</template>
<template name="details">
<div class="text-center container">
<h4 class="white">Test Object</h4>
<h5 class="white">43m away</h5>
</div>
</template>
<template name="bottombar">
<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottombar" style="visibility:visible;">
<div class="container-fluid">
{{> viewbutton}}
{{> waypointbutton}}
</div>
</nav>
</template>
<template name="viewport">
<svg id="mainview" width="{{screenwidth}}" height="{{screenheight}}">
<g
     transform="translate(0,-1026.3622)"
     id="layer1">
    <rect
       transform="matrix(0.94954194,-0.31364007,0.22065151,0.97535271,0,0)"
       y="984.70148"
       x="-228.83778"
       height="21.2565"
       width="1.7706776"
       id="rect4208"
       style="fill:#44ff44;stroke:none" />
    <path
       id="path4210"
       d="m 1.2864738,1031.8934 c 0,0 5.5219329,1.9546 8.8609462,-2.5108 3.339023,-4.4653 10.217061,-2.6881 10.217061,-2.6881 l 2.602045,11.8907 c 0,0 -7.030097,-1.5271 -10.636966,3.6343 -3.6066587,5.1625 -8.4776486,1.3672 -8.4776486,1.3672 z"
       style="fill:#44ff44;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
</svg>
</template>
<template name="menu">
<div id="menu" style="left:-100%;">
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
<button class="menubutton">Rate this app</button>
</div>
</template>