<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="favicon" type="image/x-icon" href="/favicon.ico?v=2" />
<link rel="icon" sizes="192x192" href="/img/android192x192.png" />
<link rel="icon" sizes="128x128" href="/img/android128x128.png" />
<link rel="apple-touch-icon-precomposed" href="/img/iOS60x60.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/iOS76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/iOS120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/iOS152x152.png">
<link href="/img/splash1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" rel="apple-touch-startup-image">
<link href="/img/splash1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" rel="apple-touch-startup-image">
<link href="/img/splash768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)" rel="apple-touch-startup-image">
<link href="/img/splash748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)" rel="apple-touch-startup-image">
<link href="/img/splash1242x2148.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" rel="apple-touch-startup-image">
<link href="/img/splash1182x2208.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" rel="apple-touch-startup-image">
<link href="/img/splash750x1294.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/img/splash640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/img/splash640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/img/splash320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">

<link rel="manifest" href="/manifest.json">

<title>GPS Spy App</title>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="Cache-Control" content="no-store" />
</head>
<body>
    {{> topbar}}
    {{> bottombar}}
</body>