#testingScreen {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.navbar-collapse.collapse {
display: block!important;
}
.navbar{
	background-color:black;
}
.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}
body{
	background:black;
}
.navbar-right {
float: right!important;
}
.white{
	color:white;
}
img{
	width:36px;
}
#mainview{
	margin-top:72px;
}
#menu{
	position:absolute;
	top:72px;
	left:-100%;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#111;
	-webkit-transition: left 0.5s ease-out;
	transition:left 0.5s ease-out;
	border-top:1px solid #999;
}
#menu button{
	width:100%;
}

a:active{
background-color:#999999 !important;
}
html *{
-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;

}
.menubutton{
	color:white;
	height:72px;
	background-color:#111;
	font-size:36px;
	text-align:left;
	padding-left:20px;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:1px solid #999;
}
.menubutton:hover{
	background-color:#111;
}
.menubutton:active{
	background-color:#999;
}